<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Convert avif to jpg</title>
	<meta name="description" content="Convert avif to jpg">
	<script src="./static/js/tailwind.3.4.3.js"></script>
	<script src="./static/js/index.js"></script>
	<link rel="shortcut icon" href="./favicon.png" />
	<link rel="canonical" href="https://www.aviftojpg.us/index.html"/>
	<style type="text/css">
	</style>
</head>
<body>

<section>
  <!-- Container -->
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
    <!-- Heading Container -->
    <div class="mx-auto mb-8 max-w-3xl text-center md:mb-12 lg:mb-16">
      <!-- Heading -->
      <h2 class="text-3xl font-bold md:text-5xl"> Simple &amp; Affordable Pricing </h2>
      <!-- Subheading -->
      <p class="mt-4 text-sm text-gray-500 sm:text-base"> Simple &amp; fixed pricing. 30 days money-back guarantee </p>
    </div>
    <!-- Price Container -->
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:gap-4">
      <!-- Price -->
      <div class="mx-auto flex w-full max-w-md flex-col items-start rounded-md border border-gray-300 p-8">
        <div class="mb-4 rounded-md bg-black px-4 py-1.5">
          <p class="text-sm font-bold text-white sm:text-sm">BASIC</p>
        </div>
        <p class="mb-6 text-base font-light text-gray-500 md:mb-10 lg:mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit </p>
        <h2 class="mb-5 text-3xl font-bold md:text-5xl lg:mb-8"> $99<span class="text-sm font-light sm:text-sm">/year</span>
        </h2>
        <a href="#" class="mb-5 w-full rounded-md bg-black px-6 py-3 text-center font-semibold text-white lg:mb-8"> Get started </a>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Premium Designs</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Exclusive Freebies</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Monthly Free Exclusive</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Customer Support</p>
        </div>
      </div>
      <!-- Price -->
      <div class="mx-auto flex w-full max-w-md flex-col items-start rounded-md border border-gray-300 bg-gray-100 p-8">
        <div class="mb-4 rounded-md bg-black px-4 py-1.5">
          <p class="text-sm font-bold text-white sm:text-sm">GROWTH</p>
        </div>
        <p class="mb-6 text-base font-light text-gray-500 md:mb-10 lg:mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit </p>
        <h2 class="mb-5 text-3xl font-bold md:text-5xl lg:mb-8"> $149<span class="text-sm font-light sm:text-sm">/year</span>
        </h2>
        <a href="#" class="mb-5 w-full rounded-md bg-black px-6 py-3 text-center font-semibold text-white md:mb-6 lg:mb-8"> Get started </a>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Premium Designs</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Exclusive Freebies</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Monthly Free Exclusive</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Customer Support</p>
        </div>
      </div>
      <!-- Price -->
      <div class="mx-auto flex w-full max-w-md flex-col items-start rounded-md border border-gray-300 p-8">
        <div class="mb-4 rounded-md bg-black px-4 py-1.5">
          <p class="text-sm font-bold text-white sm:text-sm">PREMIUM</p>
        </div>
        <p class="mb-6 text-base font-light text-gray-500 md:mb-10 lg:mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit </p>
        <h2 class="mb-5 text-3xl font-bold md:text-5xl lg:mb-8"> $299<span class="text-sm font-light sm:text-sm">/year</span>
        </h2>
        <a href="#" class="mb-5 w-full rounded-md bg-black px-6 py-3 text-center font-semibold text-white lg:mb-8"> Get started </a>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Premium Designs</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Exclusive Freebies</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Monthly Free Exclusive</p>
        </div>
        <div class="mt-2 flex items-center">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
          <p class="text-base">Customer Support</p>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>